<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Log in | Django site</title>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/static/admin/css/login.css" />
</head>
<body class="login">
    <div id="container">
        <div id="content" class="colM">
            <div id="content-main">

                {% block content %}

                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}

                    <div class="form-row">
                        <td>{{ form.username.label_tag }}</td>
                        <td>{{ form.username }}</td>
                    </div>
                    <div class="form-row">
                        <td>{{ form.password.label_tag }}</td>
                        <td>{{ form.password }}</td>
                    </div>

                    <div class="submit-row">
                        <input type="submit" value="login" />
                        <input type="hidden" name="next" value="{{ next }}" />
                    </div>
                </form>

                {# Assumes you setup the password_reset view in your URLconf #}
                <p><a href="{% url 'password_reset' %}">Lost password?</a></p>

                {% endblock %}

            </div>
        </div>
    </div>

</body>
</html>
